<div class="promotion promotion--illustrated">
    <img src="https://pbs.twimg.com/profile_images/1007178982150889472/RQqqPJJD_400x400.jpg" class="promotion__avatar" />
    <div class="promotion__content">
        <h2 id="about">About Wim Mostmans</h2>
        <p>Freelance full stack developer and Co-founder of Ambassify with a general interest for web technologies and electronics.</p>
        <p>
            <a href="#" class="follow"><img src="{{ site.url }}/images/icons/linkedin.svg" /></a>
            <a href="#" class="follow"><img src="{{ site.url }}/images/icons/github.svg" /></a>
            <a href="#" class="follow"><img src="{{ site.url }}/images/icons/twitter.svg" /></a>
            <a href="#" class="follow"><img src="{{ site.url }}/images/icons/email.svg" /></a>
        </p>
    </div>
</div>
