<div class="promotion promotion--illustrated">
    <img src="{{ site.url }}/images/avatar-wim.jpg" alt="Wim Mostmans" loading="lazy" class="promotion__avatar" width="100px" height="100px" />
    <div class="promotion__content">
        <h2 id="about">About Wim Mostmans</h2>
        <p>Freelance full stack developer and Co-founder of the [Employee Advocacy platform Ambassify](https://www.ambassify.com), with a general interest for web technologies and electronics.</p>
        <p>
            <a href="https://www.linkedin.com/in/sitebase/" class="follow"><img src="{{ site.url }}/images/icons/linkedin.svg" width="24px" height="24px" loading="lazy" alt="LinkedIn icon" /></a>
            <a href="https://github.com/sitebase" class="follow"><img src="{{ site.url }}/images/icons/github.svg" width="24px" height="24px" loading="lazy" alt="Github icon" /></a>
            <a href="https://twitter.com/sitebase" class="follow"><img src="{{ site.url }}/images/icons/twitter.svg" width="24px" height="24px" loading="lazy" alt="Twitter icon" /></a>
            <a href="mailto:wim@sitebase.be" class="follow"><img src="{{ site.url }}/images/icons/email.svg" width="24px" height="24px" loading="lazy" alt="Email icon" /></a>
        </p>
    </div>
</div>
