<div class="nav">
    <a href="{{ site.url }}/" class="nav__logo">
        <img class="nav__avatar" alt="Wim Mostmans" src="{{ site.url }}/images/avatar-wim.jpg" fetchpriority="high" width="60px" height="60px" />
        <strong>Sitebase</strong>&nbsp;&nbsp;<span class="nav__code">&lt;Freelance web developer&gt;</span>
    </a>

    <div style="justify-self: end;margin-right: 20px">
        <a href="/books/" class="button">Books</a>
        <a href="#about" class="button">About<span class="hide-on-mobile"> Me</span></a>
    </div>
</div>
