<div class="nav">
    <a href="{{ site.url }}/" class="nav__logo">
        <img class="nav__avatar" src="https://pbs.twimg.com/profile_images/1007178982150889472/RQqqPJJD_400x400.jpg" />
        <strong>Sitebase</strong>&nbsp;&nbsp;<span class="nav__code">&lt;Freelance web developer&gt;</span>
    </a>

    <div style="justify-self: end;margin-right: 20px">
        <a href="/books/" class="button">Books</a>
        <a href="#about" class="button">About<span class="hide-on-mobile"> Me</span></a>
    </div>
</div>
