<div class="promotion promotion--illustrated">
    <img src="{{ site.url }}/images/icons/coffee2.svg" class="promotion__icon" alt="Tip jar" width="100px" height="100px" />
    <div class="promotion__content">
        <h2>Tip Jar</h2>
        <p>If you like this blog, leave a tip! Your tip will help provide the basic necessities which sustain this blog: coffee, beer and raincoats for surviving the pitiful Belgium climate.</p>
        <a href="https://www.buymeacoffee.com/wimmostmans" target="_blank" class="button">Buy me a coffee</a>
    </div>
</div>
