<div class="promotion promotion--illustrated">
    <img src="{{ site.url }}/images/icons/coffee2.svg" class="promotion__icon" />
    <div class="promotion__content">
        <h2>Tip Jar</h2>
        <p>If you like this blog, leave a tip! Your tip will help provide the basic necessities which sustain this blog: coffee, beer and raincoats for surviving the pitiful Belgium climate.</p>
        <a href="https://www.paypal.me/wimmostmans/3" target="_blank" class="button">Buy me a coffee ($3)</a>
    </div>
</div>
