---
layout: default
body_id: post-index
---
<h1>Blog</h1>
{{ content }}

{% for post in site.posts %}
<div class="article article--short">
    <div class="article__head-title">
        <h2>
            <a href="{{ site.url }}{{ post.url }}" class="article__head-title-link">
                {{ post.title }}
            </a>
        </h2>
        <div class="small">Posted on <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time> by Wim Mostmans</div>
    </div>
    <a href="{{ site.url }}{{ post.url }}" tabindex="-1">
        <img src="{{ site.url }}/images/{{ post.image.feature }}" {% if forloop.index > 2 %}loading="lazy" {% endif %}width="640px" height="200px" class="article__head-image article__head-image--small" alt="{{ post.title }}" />
    </a>
    {{ post.excerpt }}
</div>
{% endfor %}

{% include about.html %}